html,body{
    height: 100%;
    width: 100%;
}

.page1 {
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

.box{
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    
}



/* background: linear-gradient(var(--theme-color-lt, var(--color-just-black)),var(--theme-color-lt, var(--color-just-black)))padding-box,var(--gradient-macha)border-box; */