.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header_menu{
    display: flex;
    align-items: center;
    list-style: none;
    /* border: 1px solid #fff; */
    padding: 0;
    gap: 2em;
}

.header_link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
}



/* https://mega.nz/folder/q01SGCTY#AZ9hOoAiQMN3_e8wZykyow */

/* inspo  

https://uncut.wtf/

 */

/* fonting
font-family: 'Ranade', sans-serif;
font-family: 'General Sans', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif;




<link href="https://api.fontshare.com/v2/css?f[]=ranade@700,500&f[]=general-sans@500,400,700&f[]=cabinet-grotesk@800,500,100,700,400,300,200,900&display=swap" rel="stylesheet">

*/


.header_link:hover {
    color: var(--clr-rose);
}

.header_line {
    border: 1px solid var(--clr-slate600);
    padding-top: 1.5em;
}


.he_sun {
    color: var(--clr-slate600);
    width:var(--size-base) ;
    height: var(--size-base);
}
/* xtra small screens  */
 /* @media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
 } */

/*  small screens */
/* @media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
} */

/* medium screens */
/* @media (min-width: 700px) {
    .container {
        max-width: 700px;
    }
} */

/* large screens */
/* @media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
} */

/* xtra large screens */
/* @media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
} */

/*  too xtra large screens */
 /* @media (min-width: 1536px) {
    .container {
        max-width: 475px;
    }
 }    */


